
<div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-primary" (click)="navigateToCreate()">Create</button>
    </div>
  </div>
  <div  *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-3 mb-1" *ngFor="let product of listOfProducts;index as i">
      <div class="card">
        <div class="card-header">{{product.productName}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <img width="200px" height="200px" [src]="product?.productImageURL" alt="">
            </div>
            <div class="col-md-12">{{product.productDescription}}</div>
            <div class="col-md-12">{{product?.productPrice}}</div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" (click)="updateProduct(product)">
            Update
          </button>
          <button class="btn btn-primary" (click)="deleteProduct(product?._id,i)" >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  